.section--about {
    & .section__background {
        top: 0;
        left: 50px;
    }
    & .ba-container--about {
        overflow: hidden;
    }
    & .ba-row--about {
        padding-top: 150px;
        padding-left: 60px;
        padding-bottom: 150px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/about-background.png');
    }
    & .ba-row--image {
        min-height: 100px;
        padding: 10px;
        & .ba-width-medium-1-2 {
            position: relative;
            & img {
                top: 0;
                position: absolute;
            }
        }
    }
    & .content::before {
        left: -115px;
        top: 15px;
    }
}


